pandas==2.1.4
streamlit==1.45.0
ydata-profiling==4.16.1
numpy==1.26.4
seaborn==0.13.2
plotly==5.24.1
matplotlib==3.7.5
pycaret==3.3.2
pandera==0.23.1
scikit-learn==1.4.2
openai==1.78.0
python-dotenv==1.1.0
pydantic==2.11.4
instructor==1.8.1
boto3==1.38.13
langfuse==2.60.4